<template>
  <v-container fill-height fill-width>
    <v-row justify="center" class="align-self-start">
      <SectionTitle v-bind:title="'Organisations'" class="col col-12" />
      <NodeInfo />
    </v-row>
    <v-row class="align-self-start" justify="center">
      <v-col cols="11" class="px-0">
        <Pagination
          @pagination-object="checkPaginationObject"
          v-bind:tags="tags"
          v-bind:sortDirection="sortDirection"
          v-bind:totalItems="totalOrganisations"
        />
      </v-col>
      <v-col cols="11">
        <v-card tile class="overflow-y-auto" max-height="70vh" elevation="6">
          <v-data-table
            dense
            hide-default-footer
            :items="organisations"
            :server-items-length="totalOrganisations"
            :sort-desc.sync="sortDirection"
            item-key="id"
            :loading="isOrgLoading"
            :headers="headers"
            ><template v-slot:[`item.updated_by`]="{ item }">
              <div style="max-width: 90px;" @click.stop class="text-truncate">
                <a
                  @click="
                    userId = item.updated_by;
                    showUserInfo = true;
                  "
                >
                  {{ item.updated_by }}
                </a>
              </div>
            </template>
            <template v-slot:top>
              <UserInfo
                v-if="showUserInfo"
                v-bind:id="userId"
                @user-child-object="checkUserChildObject"
              />
              <ManageOrganisation
                v-if="showManagementDialog"
                @child-object="checkChildObject"
                v-bind:processType="processType"
                v-bind:item="selectedItem"
              />
            </template>
            <template v-slot:[`item.actions`]="{ item }">
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    v-bind="attrs"
                    v-on="on"
                    class="mr-2"
                    @click="
                      resetNotification();
                      selectedItem = item;
                      processType = 'edit';
                      showManagementDialog = true;
                    "
                    >mdi-pencil</v-icon
                  >
                </template>
                <span>Edit Organisation</span></v-tooltip
              >
              <v-tooltip top>
                <template v-slot:activator="{ on, attrs }">
                  <v-icon
                    @click="
                      resetNotification();
                      processType = 'delete';
                      selectedItem = item;
                      showManagementDialog = true;
                    "
                    v-bind="attrs"
                    v-on="on"
                    >mdi-delete</v-icon
                  > </template
                ><span> Delete Organisation</span></v-tooltip
              >
            </template>
            <template v-slot:[`item.tenants`]="{ item }">
              <div class="d-flex">
                <UILogo
                  class="mx-1"
                  v-for="(tenant, i) in item.tenants"
                  :key="i"
                  v-bind:tenant="tenant.name"
                />
              </div>
            </template>
            <template v-slot:[`item.updated_at`]="{ item }">
              <span>
                {{ new Date(item.updated_at).toLocaleString() }}
              </span>
            </template>
            <template v-slot:[`item.tags`]="{ item }">
              {{ formTags(item.tags) }}
            </template>
          </v-data-table>
        </v-card>
        <div class="d-flex justify-end mt-6">
          <v-btn
            elevation="2"
            class="px-6"
            @click="
              resetNotification();
              processType = 'add';
              selectedItem = null;
              showManagementDialog = true;
            "
          >
            New Organisation
          </v-btn>
        </div>
        <UIAlert
          class="mt-4"
          v-if="
            isAddSuccessful ||
              isDeleteSuccessful ||
              isEditSuccessful ||
              hasHttpError
          "
          v-bind:isSuccessful="!hasHttpError"
          v-bind:message="
            isAddSuccessful
              ? `Organisation added successfully`
              : isDeleteSuccessful
              ? `${selectedItem.name} deleted successfully`
              : isEditSuccessful
              ? `${selectedItem.name} updated successfully`
              : $store.state.application.httpErrorMessage
          "
        />
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * Fadi Abbud <fadi.abbud@intevation.de>
 */
import { computed, defineAsyncComponent, onMounted, ref, watch } from "vue";
import { useStore } from "@/store";
import { useOrganisation } from "@/lib/use-organisation";
import { useNotification } from "@/lib/use-notification";
import { useHeadersBuilder } from "@/lib/use-headersbuilder";
import { useUserInfo } from "@/lib/use-userinfo";
const UIAlert = defineAsyncComponent(() =>
  import("@/components/ui/UIAlert.vue")
);
const NodeInfo = defineAsyncComponent(() =>
  import("@/components/ui/NodeInfo.vue")
);
const SectionTitle = defineAsyncComponent(() =>
  import("@/components/ui/SectionTitle.vue")
);
const UILogo = defineAsyncComponent(() => import("@/components/ui/UILogo.vue"));
const ManageOrganisation = defineAsyncComponent(() =>
  import("@/components/organisations/ManageOrganisation.vue")
);
const UserInfo = defineAsyncComponent(() =>
  import("@/components/usermanagement/UserInfo.vue")
);
const Pagination = defineAsyncComponent(() =>
  import("@/components/ui/Pagination.vue")
);

const originalHeaders = [
  {
    text: "Name",
    align: "start",
    value: "name",
    divider: true
  },
  {
    text: "Tags",
    align: "start",
    value: "tags",
    divider: true,
    sortable: false
  },
  {
    text: "Constituency",
    value: "tenants",
    divider: true,
    width: "100px",
    sortable: false
  },
  {
    text: "Parent Nodes",
    value: "parents",
    divider: true,
    sortable: false
  },
  {
    text: "Last change",
    value: "updated_at",
    divider: true
  },
  {
    text: "Actions",
    value: "actions",
    sortable: false,
    width: "90px"
  }
];
const headers = ref(useHeadersBuilder(originalHeaders));
const processType = ref();
const showManagementDialog = ref(false);
const selectedItem = ref();
const store = useStore();
// Notifications
const {
  isAddSuccessful,
  isEditSuccessful,
  isDeleteSuccessful,
  hasRequestError: hasHttpError,
  resetNotification
} = useNotification();
// Organisations
const {
  organisations,
  hasOrgaLoadingError,
  isOrgLoading,
  totalOrganisations,
  getOrganisations
} = useOrganisation();
watch(
  () => store.state.user.selectedNode,
  () => {
    buildRequest();
  }
);
onMounted(() => {
  buildRequest();
  getTags();
});
// React to the emitted values
const checkChildObject = e => {
  if (e.closeDialog) {
    showManagementDialog.value = false;
  }
  if (e.orgaChanged) {
    buildRequest();
    switch (processType.value) {
      case "add": {
        isAddSuccessful.value = true;
        break;
      }
      case "edit": {
        isEditSuccessful.value = true;
        break;
      }
      case "delete": {
        isDeleteSuccessful.value = true;
        break;
      }
    }
  }
};
// Form tags to be displayed in the table
const formTags = tags => {
  return tags.map(t => t.name).join(", ");
};
const sortDirection = ref();
const buildRequest = () => {
  if (options.value) {
    getOrganisations(
      options.value["page"],
      options.value["itemsPerPage"],
      options.value["search"],
      options.value["sortForRequest"],
      options.value["tagToFilterBy"]
    );
  } else {
    // Load organisatin without pagination parameters
    getOrganisations(1);
  }
};
// Tags
const tags = computed(() => {
  return store.state.organisation.organisationTags;
});
const getTags = () => {
  isOrgLoading.value = true;
  store
    .dispatch("organisation/loadOrganisationTags")
    .then()
    .catch(() => (hasOrgaLoadingError.value = true))
    .finally(() => (isOrgLoading.value = false));
};

const options = ref({ page: 1, itemPerPage: 10 });
const checkPaginationObject = e => {
  if (e.refresh) {
    options.value = e.options;
    buildRequest();
  }
};
const { userId, showUserInfo, checkUserChildObject } = useUserInfo();
</script>
