<template>
  <v-app-bar dark id="theme" app clipped-left>
    <v-img class="app-bar-img" src="resources/logo.png"></v-img>
    <v-spacer></v-spacer>
    <div class="d-flex">
      <div class="d-flex flex-column mt-1 align-start">
        <div class="text-caption" style="max-height: 12px">
          {{ $store.state.user.selectedNode.level }}
        </div>
        <div class="text-subtitle-1">{{ user.username }}</div>
      </div>
      <v-icon x-large>mdi-account-box</v-icon>
    </div>
    <v-menu offset-y class="mr-2">
      <template v-slot:activator="{ on, attrs }">
        <v-btn dark icon v-bind="attrs" v-on="on">
          <v-icon>mdi-dots-horizontal</v-icon>
        </v-btn>
      </template>
      <v-list dense>
        <v-list-item link @click="showProfile"> Profile </v-list-item>
        <v-list-item link disabled @click="showSettings">
          Settings
        </v-list-item>
        <v-list-item link @click="logout"> Log out </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<style scoped>
.app-bar-img {
  max-height: 60px;
  max-width: 140px;
}
</style>

<script setup lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * * Fadi Abbud <fadi.abbud@intevation.de>
 * * Bernhard Reiter <bernhard@intevation.de>
 */
import { ref } from "vue";
import { useStore } from "@/store";

const store = useStore();

// Current user Info
const user = ref(store.state.user.currentUser);
// Handle menu options
const logout = () => {
  // remove the stored value by logout
  localStorage.removeItem("selectedNode");
  // TODO Check if using vue-router here is better
  window.location.href = "/logout";
};
const showProfile = () => {
  // TODO replace referrer with our client_id and
  // referrer_uri with our client base url and the subpage we want to go
  // back to
  const myurl = window.location.origin + "/refresh";
  window.location.href = `${store.state.user.keycloakUrl}/auth/realms/${store.state.user.keycloakRealm}/account?referrer=${store.state.user.clientId}&referrer_uri=${myurl}`;
};
const showSettings = () => {
  // TODO: Add real functionality to the selected option
  console.log("Settings selected");
};
</script>
