<template>
  <v-container>
    <v-dialog v-model="dialog" max-width="75vw" persistent>
      <v-card>
        <v-card-title v-if="processType === 'add'">
          <v-layout row>
            <span>Create Contact for</span>
            <div v-if="$store.getters['user/isOrgaAdmin']">
              <v-select
                v-if="organisations && organisations.length > 1"
                class="ml-4 "
                v-model="initialOrga"
                :items="organisations"
                dense
                :loading="isOrgLoading"
                return-object
                item-text="name"
                single-line
              >
              </v-select>
            </div>
            <span v-else class="ml-2">{{
              $store.state.user.selectedNode.name
            }}</span>
            <v-layout v-if="!$store.getters['user/isOrgaAdmin']">
              <v-autocomplete
                class="ml-4"
                v-model="initialOrga"
                :search-input.sync="search"
                :items="organisations"
                dense
                :loading="isOrgLoading"
                return-object
                prepend-icon="mdi-database-search"
                label="Search for organisation"
                item-text="name"
                single-line
                persistent-hint
                hint="Selecting organisation is required"
                style="max-width:300px"
                :rules="[v => !!v || 'Please select organisation']"
                ref="orgaField"
              >
              </v-autocomplete>
            </v-layout>
          </v-layout>
        </v-card-title>
        <v-card-title v-if="processType === 'edit'">
          <v-layout row pa-1> Edit Contact {{ item?.name }} </v-layout>
        </v-card-title>
        <div class="d-flex px-3 align-center justify-start my-3">
          <v-select
            style="max-width:45%;"
            :items="roles"
            label="Roles"
            item-text="name"
            v-model="selectedRoles"
            dense
            :rules="[v => !!(v && v.length) || 'Role is required']"
            prepend-inner-icon="mdi-account-star"
            required
            hint="Selecting role(s) is required"
            persistent-hint
            multiple
            small-chips
            clearable
            @change="initializeFields"
            deletable-chips
            return-object
          >
          </v-select>
          <v-select
            v-if="!$store.getters['user/isOrgaAdmin']"
            :items="tags"
            class="mx-8"
            style="max-width:45%;"
            item-text="name"
            v-model="selectedTags"
            dense
            label="Tags"
            prepend-inner-icon="mdi-tag"
            required
            multiple
            clearable
            persistent-hint
            small-chips
            return-object
            deletable-chips
          ></v-select>
        </div>
        <v-divider></v-divider>
        <v-card-text>
          <v-container px-0>
            <v-form v-model="valid" ref="form" class="row">
              <v-text-field
                v-if="loading"
                loading
                disabled
                dense
                class="col col-12"
              ></v-text-field>
              <v-col
                v-for="(field, index) in contactFields"
                cols="6"
                :key="index"
              >
                <v-text-field
                  v-if="
                    ['text', 'email', 'phone', 'integer'].indexOf(
                      field.type
                    ) !== -1 &&
                      // Use another element for dropdown elements
                      !field.dropdown
                  "
                  v-model="contactValues[field.name]"
                  :label="field.label"
                  :hint="field.hint"
                  :prepend-inner-icon="
                    field.type === 'phone'
                      ? getFieldIcon(field.type)
                      : getFieldIcon(field.name)
                  "
                  :rules="getFieldRule(field)"
                  persistent-hint
                  :prefix="['phone'].indexOf(field.type) !== -1 ? '+' : ''"
                  :type="
                    ['phone', 'phone_1', 'phone_2', 'integer'].indexOf(
                      field.type
                    ) !== -1
                      ? 'number'
                      : 'string'
                  "
                >
                </v-text-field>
                <v-file-input
                  v-if="
                    [
                      'pdf',
                      'aec_code_of_conduct',
                      'atc_Code_of_conduct',
                      'document'
                    ].indexOf(field.type) !== -1
                  "
                  :label="field.label"
                  v-model="contactValues[field.name]"
                  dense
                  small-chips
                  :rules="getFieldRule(field)"
                  @click:clear="
                    toDeletePdf = {
                      id: contactValues[field.name].id,
                      name: contactValues[field.name].name
                    }
                  "
                  accept="application/pdf"
                >
                </v-file-input>
                <v-file-input
                  v-if="['openpgp_pubkey'].indexOf(field.type) !== -1"
                  :label="field.label"
                  v-model="contactValues[field.name]"
                  dense
                  :error="!isOpenpgpKeyValid"
                  :error-messages="
                    !isOpenpgpKeyValid ? openpgpErrorMessage : ''
                  "
                  @change="checkUploadedFile(field)"
                  @click:clear="
                    isOpenpgpKeyValid = true;
                    fileContent[field.name] = '';
                  "
                  small-chips
                >
                </v-file-input>
                <v-file-input
                  v-if="['s_mime_cert'].indexOf(field.type) !== -1"
                  :label="field.label"
                  v-model="contactValues[field.name]"
                  dense
                  @change="checkUploadedFile(field)"
                  :error="!isSmimeKeyValid"
                  :error-messages="!isSmimeKeyValid ? smimeErrorMessage : ''"
                  @click:clear="
                    isSmimeKeyValid = true;
                    fileContent[field.name] = '';
                  "
                  small-chips
                >
                </v-file-input>
                <v-textarea
                  v-if="field.type === 'text_area'"
                  name="input-7-1"
                  :label="field.label"
                  :hint="field.hint"
                  outlined
                  persistent-hint
                  v-model="contactValues[field.name]"
                ></v-textarea>
                <v-select
                  v-if="Object.keys(field).includes('dropdown')"
                  :label="field.label"
                  :hint="field.hint"
                  :items="field.dropdown"
                  item-text="label"
                  item-value="value"
                  persistent-hint
                  v-model="contactValues[field.name]"
                  dense
                >
                </v-select>
              </v-col>
            </v-form>
          </v-container>
          <UIAlert
            v-if="hasRequestError || hasDeletionError"
            v-bind:isSuccessful="false"
            v-bind:message="$store.state.application.httpErrorMessage"
          />
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="blue darken-1"
            text
            @click="
              $emit('child-object', {
                closeDialog: true,
                contactChanged: false
              })
            "
          >
            Cancel
          </v-btn>
          <v-btn
            v-if="processType === 'add'"
            color="blue darken-1"
            text
            :disabled="
              // Deactivate button when:
              // Form is not valid
              !valid ||
                // Public key is not valid
                !isOpenpgpKeyValid ||
                !isSmimeKeyValid ||
                // There is/are no selected role(s)
                (selectedRoles && !selectedRoles.length) ||
                // There is no selected organisation
                ($store.getters['user/isOrgaAdmin']
                  ? Object.keys(initialOrga).length === 0
                  : Object.keys(usedOrga).length === 0)
            "
            @click="addContact()"
          >
            Create
          </v-btn>
          <v-btn
            v-else
            color="blue darken-1"
            text
            :disabled="!valid"
            @click="updateContact()"
            >Update</v-btn
          >
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-container>
</template>
<style lang="scss" scoped>
// Hide spin button for text-fields of type number
// as these buttons are not necessary here.
::v-deep input::-webkit-outer-spin-button,
::v-deep input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
</style>
<script setup lang="ts">
/*
 * This file is Free Software under GNU Affero General Public License v >= 3.0
 * without warranty, see README.md and license for details.
 *
 * SPDX-License-Identifier: AGPL-3.0-or-later
 *
 * SPDX-FileCopyrightText: 2020 nic.at GmbH <https://nic.at>
 * Software-Engineering: 2020 Intevation GmbH <https://intevation.de>
 *
 * Author(s):
 * 2021, 2022 Fadi Abbud <fadi.abbud@intevation.de>
 */
import { useForm } from "@/lib/use-form";
import { useOrganisation } from "@/lib/use-organisation";
import {
  getContactFields,
  getFieldIcon,
  getFieldRule,
  getUsedRoles
} from "@/lib/use-fieldbuilder";
import { useStore } from "@/store";
import {
  computed,
  defineAsyncComponent,
  nextTick,
  onMounted,
  ref,
  watch
} from "vue";
import { HTTP } from "../../lib/http";
import debounce from "debounce";
const UIAlert = defineAsyncComponent(() =>
  import("@/components/ui/UIAlert.vue")
);
const props = defineProps({
  processType: String,
  item: Object
});
const emit = defineEmits(["child-object"]);

const store = useStore();
const roles = computed(() => {
  return store.state.application.contactRoles;
});
// Form
const hasRequestError = ref(false);
const { form, valid, loading } = useForm();

const selectedRoles = ref();
selectedRoles.value = [];
const contactFields = ref();
// Variable to store the fields' values
const contactValues = ref({});
// Build the contact fields according to the selected roles
const initializeFields = () => {
  contactFields.value = [];
  if (selectedRoles.value && selectedRoles.value.length) {
    contactFields.value = getContactFields(selectedRoles.value);
    nextTick(() => {
      form.value.validate();
    });
  }
};
const dialog = ref(true);
const { organisations, isOrgLoading, getOrganisations } = useOrganisation();
const usedOrga = ref({});
const initialOrga = computed({
  get: () => {
    // Select the current organisation for orga admin by default
    if (store.getters["user/isOrgaAdmin"]) {
      return organisations.value
        ? organisations.value.filter(
            o => o.organisation_id === store.state.user.selectedNode.node_id
          )[0]
        : {};
    } else {
      return {};
    }
  },
  set: val => {
    usedOrga.value = val;
  }
});
const orgaField = ref();
const selectedTags = ref();
// Get Tags
const tags = computed(() => {
  return store.state.contact.contactTags;
});
const setRequestPayload = () => {
  const formdata = new FormData();
  // Exclude public key matertials as they should be treated differently
  for (const f of contactFields.value.filter(
    f => ["openpgp_pubkey", "s_mime_cert"].indexOf(f.type) === -1
  )) {
    if (f.type === "integer") {
      formdata.append(f.name, contactValues.value[f.name] || -1);
      continue;
    }
    // Include file in request only if the field contains a real file
    // as long as by updating the name of file is displayed, and
    // uploading a new one will replace the before saved one.
    if (f.type === "pdf" && !(contactValues.value[f.name] instanceof File)) {
      // Ignore file field
      continue;
    }
    // Set empty string for the case of clearing a field value
    formdata.append(f.name, contactValues.value[f.name] || "");
  }
  // set the files content
  Object.keys(fileContent.value).forEach(f => {
    // Do not set formdata if there is no content
    formdata.append(f, fileContent.value[f] || " ");
  });
  if (selectedTags.value && selectedTags.value.length) {
    selectedTags.value.forEach((t, i) => {
      formdata.append(`tags[${i}]`, t.contact_tag_id);
    });
  }
  if (selectedRoles.value && selectedRoles.value.length) {
    selectedRoles.value.forEach((t, i) => {
      formdata.append(`roles[${i}]`, t.name);
    });
  }

  return formdata;
};
// Add Contact
const addContact = () => {
  loading.value = true;
  HTTP.post(
    `/organisations/${
      Object.keys(usedOrga.value).length
        ? usedOrga.value["organisation_id"]
        : initialOrga.value["organisation_id"]
    }/contacts`,
    setRequestPayload(),
    {
      headers: {
        "Content-Type": "multipart/form-data"
      }
    }
  )
    .then(() => {
      emit("child-object", {
        closeDialog: true,
        contactChanged: true
      });
    })
    .catch(() => {
      hasRequestError.value = true;
    })
    .finally(() => {
      loading.value = false;
    });
};
const pdfs = ref();
pdfs.value = [];
// Update Contact
const setInitialValues = () => {
  if (props.item) {
    contactFields.value.forEach(f => {
      if (f.type === "text" && f.dropdown) {
        contactValues.value[f.name] = props.item
          ? props.item[f.name].value
          : "";
      } else if (["pdf"].indexOf(f.type) !== -1) {
        // necessary for <v-field-input>
        contactValues.value[f.name] =
          props.item && props.item[f.name] ? props.item[f.name] : null;
      } else if (["openpgp_pubkey", "s_mime_cert"].indexOf(f.type) !== -1) {
        const content = props.item ? props.item[f.name] : "";
        if (content) {
          // Set the file-content to be sent to the backend
          // as this field is treated like any "text" field
          fileContent.value[f.name] = content;
          contactValues.value[f.name] = {
            // Use the first 30 character for the file name
            name: `${content.split("\n")[1].substring(0, 30)}`
          };
        }
      } else {
        contactValues.value[f.name] =
          // Avoid "-1" Value for "zip" field
          props.item && props.item[f.name] !== -1 ? props.item[f.name] : "";
      }
    });
    if (props.item.tags) {
      selectedTags.value = props.item.tags;
    }
  }
};
const toDeletePdf = ref();
const hasDeletionError = ref(false);
const deletePDf = () => {
  return new Promise<void>((resolve, reject) => {
    loading.value = true;
    hasDeletionError.value = false;
    HTTP.delete("/pdf/" + toDeletePdf.value.id)
      .then(() => {
        resolve();
      })
      .catch(() => {
        hasDeletionError.value = true;
        reject();
      })
      .finally(() => {
        loading.value = false;
      });
  });
};
const sendUpdateRequest = () => {
  if (props.item) {
    const formdata = setRequestPayload();
    // Form Method Spoofing: For Laravel to handle the POST as a PUT action.
    formdata.append("_method", "PUT");
    HTTP.post(
      `/organisations/${props.item.organisation_id}/contacts/
          ${props.item.contact_id}`,
      formdata,
      {
        headers: {
          "Content-Type": "multipart/form-data"
        }
      }
    )
      .then(() => {
        emit("child-object", {
          closeDialog: true,
          contactChanged: true
        });
      })
      .catch(() => {
        hasRequestError.value = true;
      })
      .finally(() => {
        loading.value = false;
      });
  }
};
const updateContact = () => {
  if (props.item) {
    if (toDeletePdf.value && toDeletePdf.value.id) {
      deletePDf().then(() => {
        sendUpdateRequest();
      });
    } else {
      sendUpdateRequest();
    }
  }
};

onMounted(() => {
  if (store.getters["user/isOrgaAdmin"]) {
    getOrganisations();
  } else {
    getOrganisations(1);
    // Load the tags for portal/tenant-admin(s)
    if (!tags.value || !tags.value.length) {
      loading.value = true;
      store
        .dispatch("contact/loadContactTags")
        .then()
        .catch(() => (hasRequestError.value = true))
        .finally(() => {
          loading.value = false;
        });
    }
    if (orgaField.value) {
      orgaField.value.validate();
    }
  }
  if (props.processType === "edit") {
    selectedRoles.value = getUsedRoles(props.item);
    initializeFields();
    setInitialValues();
  }
  form.value.validate();
});

const search = ref(null);
const triggerSearch = debounce(searchString => {
  getOrganisations(1, undefined, searchString);
}, 500);

watch(
  // Make a request for each change in the search-field.
  () => search.value,
  (newValue, oldValue) => {
    if (orgaField.value) {
      orgaField.value.validate();
    }
    if (oldValue !== newValue) {
      triggerSearch(newValue);
    }
  }
);
const isOpenpgpKeyValid = ref(true);
const isSmimeKeyValid = ref(true);
const openpgpErrorMessage = ref();
const fileContent = ref({});
const smimeErrorMessage = ref();
const checkUploadedFile = item => {
  if (contactValues.value[item.name]) {
    const reader = new FileReader();
    reader.readAsText(contactValues.value[item.name]);
    reader.onload = event => {
      const content = event.target ? event.target.result : "";
      // First check for private key existence
      if (content as string) {
        const matched = (content as string).match(
          /(PRIVATE|PKCS12|protected-private-key)/g
        );
        if (matched) {
          const errorMessage = `This file looks like it contains private key material. (It matched the string ${matched[0]}). Only ascii-armored public keys/certificates are allowed.`;
          if (item.type === "openpgp_pubkey") {
            isOpenpgpKeyValid.value = false;
            openpgpErrorMessage.value = errorMessage;
          } else {
            isSmimeKeyValid.value = false;
            smimeErrorMessage.value = errorMessage;
          }
        } else {
          // Second check for correct ascii-armored public key material
          const notValidMessage =
            "The file looks like it is not an ascii-armored public key material";
          const lines = (content as string).split("\n");
          if (lines && item.type === "openpgp_pubkey") {
            if (
              lines &&
              !/-----BEGIN PGP PUBLIC KEY BLOCK-----/.test(lines[0]) &&
              !/-----END PGP PUBLIC KEY BLOCK-----/.test(
                lines[lines.length - 1]
              )
            ) {
              isOpenpgpKeyValid.value = false;
              openpgpErrorMessage.value = notValidMessage;
            }
          } else if (lines && item.type === "s_mime_cert") {
            if (
              !/-----BEGIN CERTIFICATE-----/.test(lines[0]) &&
              !/-----END CERTIFICATE-----/.test(lines[lines.length - 1])
            ) {
              isSmimeKeyValid.value = false;
              smimeErrorMessage.value = notValidMessage;
            }
          }
        }
        // Save the content as it is valid to be sent as string
        // in the HTTP request
        if (
          (isOpenpgpKeyValid.value && item.type === "openpgp_pubkey") ||
          (isSmimeKeyValid.value && item.type === "s_mime_cert")
        ) {
          fileContent.value[item.name] = content;
        }
      }
    };
  }
};
</script>
