<template>
  <v-container fill-height fluid>
    <v-row justify="center" class="align-self-start">
      <SectionTitle v-bind:title="'Manage Tags'" />
    </v-row>
    <v-row justify="start" id="tagsId" class="align-self-start">
      <ContactTags />
      <OrganisationTags />
    </v-row>
  </v-container>
</template>
<style lang="scss">
#tagsId {
  margin: 10px 60px;
}
#tagsId > div {
  margin: 20px;
}
</style>
<script setup lang="ts">
import { defineAsyncComponent } from "vue";
const OrganisationTags = defineAsyncComponent(() =>
  import("@/components/systemconfiguration/OrganisationTags.vue")
);
const ContactTags = defineAsyncComponent(() =>
  import("@/components/systemconfiguration/ContactTags.vue")
);
const SectionTitle = defineAsyncComponent(() =>
  import("@/components/ui/SectionTitle.vue")
);
</script>
